* {
    text-align: center ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(214, 214, 226) ;
}

.titulo {
    color: rgb(96, 96, 194);
    font-weight: 3rem;
}
/* 
.container {
    margin: 2 center;

} */

.imagen {
    max-width: 500px;
    border-radius: 10%;
}

.descripcion {
    text-align: center;
}

.line {
    border-top: 2px solid black;
    max-width: 600px;
    margin: 30px auto 0 auto;
  }

  
  .sup {
    background: rgba(94, 214, 94);
    margin: 50px auto;
    float: center;
    border: 1px black;
  }